h1 {
    color: darkred;
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
ul {
    text-align: center;
}
li {
    text-align: center;
}
image {
    margin: 10px;
}
body {
    background-color: lightgrey;
}
iframe {
    height: auto;
    width: auto;
    background-color: white;
    border-color: black;
}